*, *:before, *:after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   min-height: 100vh;
   display: flex;
   justify-content: center;
   overflow-x: hidden;
   background: #fafafa;
   font-family: 'Nunito Sans', sans-serif;
}

body.modal-open {
   overflow-y: hidden;
}

#root {
   width: 100%;
}
input, button {
   box-shadow: none;
   border: none;
   outline: none;
   font-family: 'Nunito Sans', sans-serif;
}

button {
   width: 100%;
   font-size: 1.8rem;
   font-weight: 900;
   line-height: 60px;
   border-radius: 25px;
   background: linear-gradient(to right, #03bdce, #64e1ec);  
   text-transform: uppercase;
   color: #fff;
   cursor: pointer;
}

.btn-outline {
   border: 2px solid transparent; 
   background: transparent;
   color: #0baebd;
   border-color: #03bdce;
}

/*Loader*/
.lds-ring {
   display: inline-block;
   position: relative;
   width: 80px;
   height: 80px;
 }
 .lds-ring div {
   box-sizing: border-box;
   display: block;
   position: absolute;
   width: 64px;
   height: 64px;
   margin: 8px;
   border: 8px solid #03bdce;
   border-radius: 50%;
   animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
   border-color: #03bdce transparent transparent transparent;
 }
 .lds-ring div:nth-child(1) {
   animation-delay: -0.45s;
 }
 .lds-ring div:nth-child(2) {
   animation-delay: -0.3s;
 }
 .lds-ring div:nth-child(3) {
   animation-delay: -0.15s;
 }
 @keyframes lds-ring {
   0% {
     transform: rotate(0deg);
   }
   100% {
     transform: rotate(360deg);
   }
 }
 
@media screen and (min-width: 768px) {
   body {
      background: linear-gradient(#aef5fc, #dff0f1);
      padding: 5vh 0;
   }
   #root {
      width: 60vw;
      position: relative;
      background: #fff;
      border-radius: 20px;
   }
   .user-info, .quiz-container main {
      border-radius: 20px !important;
   }
}