*, *:before, *:after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   min-height: 100vh;
   display: flex;
   justify-content: center;
   overflow-x: hidden;
   background: #fafafa;
   font-family: 'Nunito Sans', sans-serif;
}

body.modal-open {
   overflow-y: hidden;
}

#root {
   width: 100%;
}
input, button {
   box-shadow: none;
   border: none;
   outline: none;
   font-family: 'Nunito Sans', sans-serif;
}

button {
   width: 100%;
   font-size: 1.8rem;
   font-weight: 900;
   line-height: 60px;
   border-radius: 25px;
   background: linear-gradient(to right, #03bdce, #64e1ec);  
   border: 2px solid transparent; 
   text-transform: uppercase;
   color: #fff;
   cursor: pointer;
}

.btn-outline {
   background: transparent;
   color: #0baebd;
   border-color: #03bdce;
}

@media screen and (min-width: 768px) {
   body {
      background: linear-gradient(#aef5fc, #dff0f1);
      padding: 5vh 0;
   }
   #root {
      width: 60vw;
      position: relative;
      background: #fff;
      border-radius: 20px;
   }
   .user-info, .quiz-container main {
      border-radius: 20px !important;
   }
}